nav { margin: auto; width: 50%;   position: relative;   left: 700px;}
ul { list-style: none;}
li { display: inline; padding: 10px;}

h2 { margin: auto; width: 50%;   position: relative;   right: 500px; top: -345px;}


/* Rectangle 1 */

nav {width: 45%;
height: -100px;


background: rgba(255, 255, 255, 0.15);
box-shadow: 0px 4px 79px 155px rgba(0, 0, 0, 0.25);}